<div id="main" class="main">
    <div class="container right-panel-active" id="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="singUpForm" (submit)="SingUpValidation()" action="#">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input formControlName="name" type="text" placeholder="Name" />
                <input formControlName="email" type="email" placeholder="Email" />
                <input formControlName="password" type="password" placeholder="Password" />
                <input formControlName="validatePassword" type="password" placeholder="Confirm Password" />
                <button [disabled]="singUpForm.invalid" type="submit">Sign Up</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>